@page "/"

<ErrorBoundary>
    <ChildContent>
        <PageTitle>Home</PageTitle>
        <NotAuthorized />
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
            <h1>App Overview</h1>
            <p>This small app helps you to track IT-Entitties in you company</p>
            <div class="mt-4">
                <NavLink class="btn btn-primary me-2" href="/entities">Entities</NavLink>
                <NavLink class="btn btn-secondary" href="/entity-relations">Entity Relations</NavLink>
            </div>
        </div>
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger">Sorry, something went wrong loading this page.</div>
    </ErrorContent>
</ErrorBoundary>
