@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="mt-4">
    <NavLink class="btn btn-primary me-2" href="/entities">Entities</NavLink>
    <NavLink class="btn btn-secondary" href="/entityrelations">Entity Relations</NavLink>
</div>
